.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered {
  position: absolute;
  background-color:rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.op {
  opacity: 0.8;
}

@media (max-width: 768px) {
  h3 {font-size:1rem;}
}


