<div class="container p-2">
  <div class="row justify-content-md-center">
    <div class="col-lg-4 col-sm-12 col-md-12 d-flex justify-content-center flex">
      <i class="bi bi-telephone">  + 391 131 9434</i>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-12 d-flex justify-content-center flex">
      <h1>B&B Mercadante</h1>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-12 d-flex justify-content-center flex">
      <div class="dropdown">
          <i class="bi bi-translate"  role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Italiano</a></li>
          <li><a class="dropdown-item" href="#">English</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr class="text-center" style="text-align:center;width:100%;text-align:left;margin-left:0">

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link text-dark" href="#about">CHI SIAMO</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#stanze">LE NOSTRE STANZE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#bari">BARI</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-dark" href="#contatti" tabindex="-1">CONTATTI</a>
  </li>
</ul>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="assets/mercadante_cortile.jpg" class="d-block w-100 op" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/hall.jpg" class="d-block w-100 op" alt="...">

    </div>
    <div class="carousel-item">
      <img src="assets/stanza_1.jpg" class="d-block w-100 op" alt="...">
    </div>

  </div>
  <div class="centered">
   <i>
    <h3 class=" h3 text-center" style="color:white">
      Il tuo soggiorno nella splendida Bari a due passi dal mare
    </h3>
   </i>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
