
  <div class="card text-center" id="stanze">
    <div class="card-header p-4">
    <h4>STANZE</h4>
    </div>
    <div class="card-body" style="margin:auto" >
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
<div class="container p-4">
  <div class="row">
    <div class="col-lg-4 col-sm-12 col-md-12 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="assets/stanza_singola.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Camera Singola</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-dark">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-12 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="assets/matrimoniale.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title">Camera Matrimoniale</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-dark">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-12 d-flex justify-content-center">
      <div class="card" style="width: 18rem;">
        <img src="assets/deluxe.jpg" class="card-img-top" alt="...">

        <div class="card-body text-center">
          <h5 class="card-title">Camera Matrimoniale Deluxe</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-dark">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

