
  <div class="card text-center">
    <div class="card-header p-4">
    <div class="card-body" style="width: 50%; margin:auto" >
      <div class="row">
        <div class="col">
          <i class="bi bi-facebook"></i>
        </div>
        <div class="col">
          <i class="bi bi-instagram"></i>

        </div>
        <div class="col">
          <i class="bi bi-tiktok"></i>

        </div>
      </div>
    </div>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">CHI SIAMO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">LE NOSTRE STANZE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">BARI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#" tabindex="-1">CONTATTI</a>
      </li>
    </ul>
    <div class="row">
      <div class="col">
        <i>B&B Mercadante</i>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <i>Viale Saverio Mercadante, 12A, 70132 Bari BA</i>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <i>+ 391 131 9434</i>
      </div>
    </div>

  </div>
  <p style="font-size:14px;">Copyright ©2021, Designed & Developed by Filippo Papagno</p>
  </div>
